@import url('http://fonts.googleapis.com/css?family=Montserrat:400,600');

/* the selector, could change font and background colors */
body {
    /* space from most left */
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background: white;
}

p {
    font-size: .9em;
    line-height: 1.6em;
}

/* apply to all unordered lists */
ul {
    /* remove bullet point */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* then style from top to bottom for the html file, find all 'class' 
   the way to reference a class in css is to use .'name_of_container'*/
.container {
    text-align: center;
    /* padding: 0.8em 1.2em 2em 40; */
    padding: 0.8em 1.2em;
}

/* .map {

} */

.h1, subhead {
    position: relative;
    z-index: 3;
}

.subhead {
    font-size: 1.1em;
}

.filter-container {
    text-align: center;
    background: rgb(216, 216, 252);
    color: black;
    width: 20%;
    border-radius: 10px;
    block-size: 25em;
    /* display: inline-block; */
    /* float: right; */
}

.display-btn {
    background: rgb(1, 1, 8);
    width: calc(100% - 6em);
    display: block;
    color: white;
    border-radius: 20px;
    padding: 0.5em;
    text-decoration: none;
    font-size: 1em;
    margin: 100% 4em 0;
    position: relative;
    z-index: 4;
}

.real-time-container {
    text-align: center;
    background:  rgb(216, 216, 252);
    color: black;
    width: 20%;
    border-radius: 10px;
    block-size: 25em;
    /* display: inline-block;
    float: left; */
}

.wrath-types {
    text-align: center;
    /* #00C2FF */
    background: rgb(216, 216, 252);
    color: black;
    width: 20%;
    border-radius: 10px;
    block-size: 25em;
    /* display: inline-block; */
    float: right;
}

.keywords-rank-container {
    text-align: center;
    background: rgb(216, 216, 252);
    color: black;
    width: 20%;
    border-radius: 10px;
    block-size: 25em;
    /* display: inline-block; */
    float: right;
}

.map {
    width: 80%;
    margin: 2em, auto, 10em, 25%;
}

.central-map-container{
    margin-right:-2%;
    text-align: center;
    width: 65%;
    border-radius: 10px;
    block-size: 20em;
    float: right;
}

.nav {
    text-align: center;
}

.wrapper {
    content: "";
    display:block;
    clear: both;
}




nav ul {
    position: inherit;
    widows: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0;
}

nav ul li {
    float: left;
}
nav ul li a {
    background-color: inherit;
    text-align: center;
    padding: 1em 2em;
}
nav ul li a:hover {
    background-color: inherit;
}